.trading_div{
    margin: 102px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:40px;
}

.title{
    color: black;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: right;
    margin-bottom: 10px;
}

.paragraph{
    font-size: 14px;
    line-height: 28px;
    text-align: end;
}

.btn{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.btn button{
    background-color: #01AEAB;
    border-radius: 7px;
    padding: 10px;
    border: 1px solid #01AEAB;
    color:white
}