.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-slider {
  position: relative;
  display: flex !important;
  box-sizing: border-box;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px !important;
}

.slick-slide {
  display: flex !important;
}

.slick-slide img {
  display: flex;
  padding: 0 5px
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  transition: opacity 300ms linear,
    transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transform: scale(0.7);
  opacity: 0.5;
  margin-left: -30px;
}

.slider-center_item {
  width: 200px;
  height: 200px;
  background: red;
  transition: 1s;
}

.slide.active {
  opacity: 1;
  transform: scale(1);
}